.truffas_styles {
        background-color: #61dafb;
        font-family: "Book Antiqua";
        font-size: 20px;
        border-radius: 25px;
        margin-bottom: 20px;
    margin-left: 20px;
        padding: 20px;

}